mat-divider {
  margin-bottom: 0.5rem;
}

mat-label {
  margin-bottom: 0.3rem;
}

mat-hint{
  margin-top: 0.3rem;
}

section {
  display: flex;
  margin: 0.3rem 0.7rem;
  mat-form-field:nth-child(even) {
    margin-left: 0.7rem;
  }
}

mat-card-content mat-label {
  margin-bottom: 0.3rem;
}

mat-card {
  margin-top: 1rem;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  margin-bottom: 0.5rem;
}

.mat-mdc-form-field-hint-wrapper {
  padding: 0 0 !important;
}

fieldset {
  min-inline-size: auto;
  padding-inline-start: 0.2em;
  padding-inline-end: 0.2em;
  margin-bottom: 1rem;
}

mat-form-field {
  margin-bottom: 0;
  div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none !important;
  }
}

.p-r-16 {
  padding-right: 16px;
}

.m-r-10 {
  margin-right: 10px;
}

#amounts {
  display: flex;
  justify-content: space-around;
  mat-label {
    margin: 1rem 0;
  }
}