mat-divider {
  margin-bottom: 0.5rem;
}

mat-label {
  margin-bottom: 0.3rem;
}

section {
  display: flex;
  margin: 0.3rem 0.7rem;
  mat-form-field:nth-child(odd) {
    margin-right: 1rem;
  }
  mat-form-field:nth-child(even) {
    margin-left: .1rem;
  }
}