<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" align="start" [fixedInViewport]="true">
    <app-nav></app-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Title</span>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="Card wide image source">
      <mat-card-content>
        Text content
      </mat-card-content>
      <mat-card-actions align="start">
        <!-- <button mat-button (click)="onAction1">Action1</button> -->

      </mat-card-actions>
      <mat-card-footer>
        Footer
      </mat-card-footer>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>